<div class = "row">
  <div class="well col-md-4 col-md-offset-4">
    <%= form_for @club do |f| %>
      <p>
        <%= f.label :Club_Name %><br/>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label :Club_Category%><br/>
        <%= select("club","category_id",Category.all.collect{|cat| [cat.name,cat.id]})%>
      </p>
      <p>
        <%= f.label :email%><br/>
        <%= f.text_field :email %>
      </p>
      <p>
        <%= f.label :Website_if_applicable%><br/>
        <%= f.text_field :website %>
      </p>
      <p>
        <%= f.label :Founding_Year%><br/>
        <%= f.text_field :founding_year %>
      </p>


      <%= f.submit(@club.new_record? ? 'Register' : 'Edit Profile' ,class: "btn btn-success") %>
    <% end %>
  </div>
</div>
