<div class ="row">
  <div class= "col-md-8 col-md-offset-2 well">
    <h1><%=  @club.name %></h1>
    <h3><%= @club.category%></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    <%= link_to "Edit Club Information", edit_club_path(@club),class:"btn btn-warning"%>
  </div>
</div>

<div class ="row">
  <div class= "col-md-8 col-md-offset-2"><h1>Requests</h1></div>
    <% @requests.each do |request| %>
      <div class= "col-md-8 col-md-offset-2 well">
        <h4> Submitted Information</h4>
        <b>Year: </b><%= request.year %></br>
        <b>Category: </b> <%= request.category %></br>
        <b>Request Amt: </b> <%=request.amount_requested%></br>
        <hr>
        <h4> Decisions</h4>
        <b>Approved Amt: </b> <%= request.amount_approved%></br>
        <b>Additional Comments: </b><%= request.comments%></br>
        <%= link_to "Edit Request Decision", edit_request_path(request),class:"btn btn-warning"%>
      </div>
    <% end %>

</div>
