<div class = "row">
  <div class="well col-md-4 col-md-offset-4">
    <%= form_for @request do |f| %>

      <p>
        <%= f.label :Club_Name %><br/>
        <select name="request[club_id]">
          <% Club.all.each do |c|%>
            <option value = <%= c.id%> ><%=c.name %></option>
          <% end %>
        </select>
      </p>

      <p>
        <%= f.label :year %><br/>
        <select name="request[year]">
          <option value=2015>2015</option>
          <option value=2016>2016</option>
        </select>
      </p>

      <p>
        <%= f.label :category %><br/>
        <select name="request[category]">
          <option value="regular">regular</option>
          <option value="special_project">special_project</option>
          <option value="conference">conference</option>
        </select>
      </p>

      <p>
        <%= f.label :amount_requested %><br/>
        <%= f.text_field :amount_requested %>
      </p>

      <p>
        <%= f.label :funding_round %><br/>
        <%= f.text_field :funding_round %>
      </p>


      <%= f.submit(@request.new_record? ? 'Register' : 'Edit Profile' ,class: "btn btn-success") %>
    <% end %>
  </div>
</div>
